*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
} */
.card{
    border: none;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

  }

  .swiper-slide img {
    width: 90%;
    height: 50%; /* Adjust the height of the image as needed */
    border-radius: 15px;
    object-fit: cover;
    margin: 10px;
    
  }



  .swiper-button-prev {
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.658);
  }

  .swiper-button-next {
    background-color: rgba(0, 0, 0, 0.658);
    margin-top: 50px;
  }
.blue{
    background-color:#EBEFF5;
}

.img_div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.googles{
    margin-left: auto;
}
.boot_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
::placeholder{
    color:#C8C7C7;
}
@media only screen and (max-width:1023px){
    .top{
        text-align: center;
    }
    .top-1{
        text-align: end!important;
    }
    .content h2{
        font-size: 30px!important;
    }
    .contact1-web{
        font-size: 14px!important;
    } 
  
  

}
@media only screen and (min-width:768px){
    .break{
        display: none;
    }
  
}
@media only screen and (max-width:767px){
    .empty{
        display: none!important;
    }
    .contact{
        display: flex;
        justify-content: end;
    }
    .contact button{
        font-size: 15px!important;
        padding: 5px!important;
    }
    .karka-img img{
        margin-left: 0%!important;
        width: 75px;
    }
    .top{
        text-align: center!important;
        
    }
    .top span{
        font-size: 13px!important;
        font-weight: 400;
    }
    .heading{
        margin: 0%!important;

    }
    
}
@media only screen and (min-width:426px){
    .design-box{
        display: none;
    }
    .googles{
        display: none;
    }
    .contact-button{
        display: none;
    }
    .design-content{
        display: none;
    }
    .highlights{
        display: none;
    }
    .interested{
        display: none;
    }

   

}
@media only screen and (max-width:425px){
    .group-img{
        display: none;
    }
    .date p{
        font-size: 12px!important;
    }
    .content h2{
        font-size: 24px!important;
    }
    .ten h4{
        font-size:14.5px;
        font-weight: 900;
    }
    .content-box{
        display: none;
    }
    .highlight{
        margin-top: 350px;
        text-align: center;
    }
    .img_divs img{
        display: none;
    } 
    .second-btn{
        display: none;
    } 
    .pay{
        margin-top: 0%!important;
    }
    .contact-button{
        width: 99px;
    }
    .line{
        margin-top: 0%!important;
    }
    .top4{
        margin:0!important;
    }
    .apply button{
        width: 100%;
    }
    .logo-space{
        display: none;
    }
    .logo-row{
        gap: 8px;
    }
    .letter h5{
        font-size: large;
    }
    .carousel{
        width: 100%!important;
    }
    .large-form{
        display: none;
    }
    /* .carouseal{
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
    } */
    .container1{
        padding: 0;
        margin: 0;
    }


}

@media only screen and (max-width:320px){
    .contact-button{
        margin-left: -10px;
    }
}
