*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;  
}
@media only screen and (max-width:1200px){
    body{
        background-color:red;
    }
}
@media only screen and (max-width:992px){
    body{
        background-color:black;
    }
}
@media only screen and (max-width:776px){
    body{
        background-color:yellow;
    }
}
@media only screen and (max-width:556px){
    body{
        background-color:springgreen;
    }
}